DEBUG=1
DJANGO_SECRET_KEY=95YZ_3M9CNcEUs3IPzG_yFMSmfokcpO3_eu821gYPKY
ALLOWED_HOSTS=localhost 127.0.0.1 web
# Defaults to 0 when DEBUG=1, otherwise 1.
USE_HTTPS=0
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173 http://localhost:5173

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Used by the nginx service in the prod compose file
NGINX_PORT=8000

OWN_AUTH_URL=TODO
OWN_BASE_URL=TODO
OWN_CLIENT_ID=TODO
OWN_CLIENT_SECRET=TODO
OWN_SCOPE=TODO
# With DEBUG=1, simulate HTTP 400 for non-auth OWN requests (retry-flow testing).
OWN_DEBUG_FORCE_HTTP_400=TODO
OWN_REGISTRATION_TRACE_ENABLED=TODO
OWN_CALLBACK_BASE_URL=TODO
OWN_CALLBACK_SECRET=TODO

CIELO_AUTH_BASE_URL=http://mock-cielo:3000
CIELO_ONBOARDING_BASE_URL=http://mock-cielo:3000
CIELO_QUERY_BASE_URL=http://mock-cielo:3000
CIELO_CLIENT_SECRET=iiow2KG3AYZaH5IAv_6tspKK0lFXiHyrzvqQTATcqhI
# Id of the master merchant, in this case it is Quick
CIELO_MERCHANT_ID=00000000-0000-0000-0000-000000000000
# When signing up a business with cielo fails, a retry is allowed after the specified cooldown
CIELO_RETRY_COOLDOWN_SECONDS=300
# Token used by Cielo as as a header when they send a notification
CIELO_WEBHOOK_TOKEN=BiOYxVEpVfYuIwlSWKSw3lJjcRED07QALqsgj3pyROc
